*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@media(max-width: 767px)  {
    .update{
        width: -webkit-fill-available  !important;
        border-radius: 10px;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .live{
        font-size: 10px;
    }
    .liv1{
        font-size: 10px;
    }
    .inner3{
        font-size: 11px;
    }
    .score_cards{
      
        overflow: auto !important;
        width: 100% !important;
    }

    .score_cards::-webkit-scrollbar {
        display: none;
      }
    .score_box{
        align-content: stretch !important;
        width: 240px !important;
        margin: 13px !important;
        flex: 1 0 auto;
    }   
    .kohli1{
        width: 80% !important;
        height: 205px !important;
        margin-left: 5% !important ;
        margin-right: 5% !important;
    }
    .kohli{
       height: 205px !important;
    }
    .swiper-button-prev::after,.swiper-button-next::after{
        margin-left: 1px !important;
        margin-right: 0px !important;
    }
    .heading{
        display: none !important;
    }
    .nav1{
        display: flex !important;
    }
    .ant-input-group-wrapper, .ant-input-search-with-button {
        width: 150px !important;
        margin-left: auto !important;
        margin-right: 83px;
        padding-bottom: 5px;
    
}
.nav-item,.dropdown{
margin-top: 4px;
    height: 34px;
    padding: 5px;
    padding-top: 7px;
    background-color: antiquewhite;
    margin-left: 4px;
    border-radius: 5px;
    border: blue;
    text-decoration: none;
    width: 87px;
}
.dropdown-menu{
    position: absolute;
    /* inset: 0px auto auto 0px; */
    transform: translate3d(5px, 31px, 0px);
    display: grid;
    background-color: antiquewhite;
    margin-left: -9px;
    border: #6c2727de solid;
    border-radius: 5px;
    margin-top: 7px;
    margin-left: -7px;
    z-index: 2;
}
.dropdown-item{
        padding: 5px;
    text-decoration: none;
    color: #6c2727de;
    border: #6c2727de 1px solid;
}
.dropdown-toggle{
    text-decoration: none;
    color: #6c2727de;
    padding-left: 14px;
    padding-top: 2px;
}

    
.cards-container{
    flex-direction: column !important;
    margin-left: 68px !important;
   
}
.box1{
padding-top: 10px !important;
    margin-left: 16px !important;
    width: 356px;
    margin-right: 16px!important;

    height: max-content!important;
} 
.mes{
    margin-left: 1px !important;

}
.swiper-slide{
    display: flex !important;
    justify-content: center !important  ;
}
/* .swiper-slide, .swiper-slide-next{
    width: 350px!important;
    height: 255px !important;
    margin-bottom: 1px !important; 
}
.swiper-wrapper{
    width: 85% !important;
 
} */
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: larger !important;

}

.update_img{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.update_news{
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}



/* --------------player page------------------ */
.fullbody{
    margin: 10px !important;
}
.all_data,.rohitdata_container{
    flex-direction: column;
}
.newsbox{
    display: flex;
    flex-direction: column;
}
.heading_img{
    margin-left: 3px !important;
    height: 164px !important ;
}
.headnews{
    width: auto !important;
}
.sidebox_con,.sidebox_con1{
    flex-direction: column !important;
}
.news1{
    display: flow-root !important;
}
.heading_news1,.heading_news2{
    width: -webkit-fill-available;
    padding: 0px !important;
}
.n1,.n2{
    margin-top: 0px !important;
}
.side_img {
    width: 300px !important;
    margin: 9px !important;
}
.table-container{
    overflow: scroll;
}

.rohit_img {
    height: 250px !important;
    width: 250px !important;
    padding: 20px !important;
    border-radius: 28px !important;
    margin-left: 41px;
}
.details1 {
    padding-left: 10px;
    padding-top: 6px;
}
.player_colm, .player_colm2, .player_colm3{
    display: flex;
}

.player_details, .player_details2, .player_details3{
   
    padding: 1px!important;
    padding-left: 19px !important;
}
.player_details{
    padding-top: 20px !important;
}
.team_name, .role_name, .matches_name, .runs_name, .wickes_name {
    padding-top: 5px !important;
        display: flex;
    margin-left: 0px !important;
}
.player_colm3{
    padding-bottom:px;
}
.table_row{
    display: flex;
}
.table_td{
    width: 90px;
}

/* -------------------------------------footer-------------------------------- */
.lfooter{
    font-size: 14px !important;
}

/* -------------------------------newspage------------------------------------------- */
.news_img{
    width:  -webkit-fill-available !important;
    height:  -webkit-fill-available !important;
    margin: 0% !important;
}
.mainbox{
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 18px !important;
}
}
/* --------------------------css----------------------------- */
.h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    color:#6c2727de;
    
}
.heading{
    display: flex;
    justify-content: space-between;
    background-color:#6c2727de;
    height: 43px;
    margin-bottom: 10px;
    position:sticky;
    top: 0;
    z-index: 2;
    text-align: center;
    
}
.css-dev-only-do-not-override-nnuwmp.ant-input-affix-wrapper{
    width: 180px !important;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-input-group-wrapper {
    padding-top: 6px;
}
.css-dev-only-do-not-override-nnuwmp, .ant-input-group ,.ant-input-affix-wrapper {
    justify-content: flex-start !important;
}
.ant-input-group  {
    background-color:#6c2727de ;
}
.heading_style {
    /* position: sticky;
    top: 0;
    z-index: 2; */
    width: 56%;
    padding:16px;
    text-transform: uppercase;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    color:antiquewhite;
    text-decoration: none;
    
}

.cards-container{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 50px;
    gap: 40px;
}

.cards {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    
}
.card{
    /* margin: 6%; */
  
    /* margin-left: 35px; */
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    width: 22%;
    border-radius: 12px;
    box-shadow: 0px 13px 10px _7px rgba(0, 0, 0, 0.1);
    float: left;
    margin-bottom: 30px;
}
.card_img:hover{
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
    border: black solid;
}
.card_img{
    width: 250px;
    height: 260px;
    border-radius: 15px;
    border: #6c2727de solid;
}
.card__info, .card__category{
    background-color:#fef9f2;
    width: 250px;
    border-radius: 8px;
    text-align: center;
    height: 80px;
    /* background-color: #6b6e70; */
  

}
.card__title{
    border-radius: 8px;
    height: 25px;
    /* background-color: #6b6e70; */
 }
.button{
    height: 30px;
    width: 150px;
    background-color:aliceblue;
    border-radius: 8px; 
    cursor: pointer;
    border: #6c2727de solid;
}
.card__category{
    color: black;
}
 .card__info{ 
    border: #6c2727de solid;
} 
.mes{
   background-color: #fef9f2;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400px;
}
.box1{
    display: flex;
    flex-direction: column;
    background-color: #fef9f2;
    border-radius: 15px;
    height: 250px;
    border: #6c2727de 5px double;
    margin-left: 30px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 52px;
    margin-right: 40px;
   

}
.App1{
    float: left;
    border-radius: 20px;
}

.ant-input-suffix{
    background-color: #fff;
   
}
.css-dev-only-do-not-override-nnuwmp.ant-input-affix-wrapper {
   
    
    border-radius: 15px;
    width: 300px;
    float: right;
}
.css-dev-only-do-not-override-nnuwmp.ant-btn{
    border-radius: 20px;
    background-color: #6c2727de;
    justify-content: center;
    height: 30px;
}
.css-dev-only-do-not-override-nnuwmp, .ant-input-group .ant-input-affix-wrapper{
    justify-content: center;
}
span.ant-input-wrapper.ant-input-group.css-dev-only-do-not-override-nnuwmp {
    display: inline-flex;
}
span.ant-input-affix-wrapper.ant-input-affix-wrapper-lg.css-dev-only-do-not-override-nnuwmp {
    height: 30px;
}
.img1{
    border:#6c2727de  solid;
   margin-left: 180px;
   margin-right: 180px;
    height: 470px;
    width: 70%;
margin-top: 10px;
}
.mar1{
    margin-top: 10px;
 color:#fef9f2 ;
 background-color: #6c2727de;
}
.details1{
    color: #fff;
}
.rohit_img {
    height: 200px;
    width: 200px;
     padding: 20px;
     border-radius: 35px;
}
.rohit_photo{
    height: 200px;
    width: 200px;
   

}
.rohit_container{
    margin-left: 20px;
    margin-right: 20px;
    border:#6c2727de solid;
   border-radius: 20px;
    color:  #6c2727de;
    

}
.rohit_data,.rohit_data1,.rohit_data2,.rohit_data3{
    width:250px;
}
.rohitdata_container{
    display: inline-flex;

}
.name1{
    margin-left: 20px;
}
.player_details,.player_details2,.player_details3{
    padding: 17px;
    margin-right: 186px;
}

.player_colm,.player_colm2,.player_colm3{
    padding-top: 20px;
    width: max-content;

}
.all_data{
    display: inline-flex;
}
.team_name,.role_name,.matches_name,.runs_name,.wickes_name{
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
.table{
    width:-webkit-fill-available;
    background-color:#fef9f2;
    border: #6c2727de 1px solid;
    border-radius: 10px;
}
.table_row{
    height: 30px;
}
.table_body{
    height: 30px;

}
.table_td{
    text-align: center;
    border: #6c2727de 1px solid;
    border-radius: 5px;
}

.table-container{
    width: auto;
    padding: 20px;
    color:#6c2727de;

}
.news1{
    border: brown solid;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    color:  #6c2727de;
    display: inline-grid;
    width: -webkit-fill-available;
    border-radius: 20px;
    margin-bottom: 25px;
}
.headnews{
    width: 560px;
    float: left;
    /* display: contents; */
    width: 571px;
    /* max-width: 200px; */
    display: block;

}
.heading_img{
    margin-top: 20px;
    margin-left: 20px;
    height: 300px;
    border-radius: 20px;
   
}
.heading_img:hover{
    transform: scale(1.05, 1.05);
    border: black solid;
}
.side_img:hover{
    transform: scale(1.05, 1.05);
    border: black solid;
}
.heading_news1,.heading_news2{
    padding-left: 20px;
   padding-top: 10px;
  width: -webkit-fill-available;
  text-decoration: none;
  color:#6c2727de  ;
}
/* .heading_news2{
    color: #fff;
} */
.side_img{
    width: 250px;
    margin: 20px;
    border-radius: 20px;
}
.sidebox,.sidebox1{
    width: -webkit-fill-available;
    /* float: left; */
    display: flex;
    flex-direction: column;
    margin-top:5px;
}
.n1,.n2{
    margin-top: 30px;

}
.sidebox_con,.sidebox_con1{
    display: flex;
    flex-direction: row;
}
/* .fullbody{
    background-color: #edc7b7 !important;
} */
.details1{
    color: #6c2727de;
}
.fullbody{
    margin: 40px;
}

.kohli1{
    height: 100% !important;
    margin-left: 25%;
    margin-right: 25%;
    border: brown solid;
    border-radius: 20px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}
.swiper-slide,.swiper-slide-active{
    margin-bottom: 30px;
}
.slider{
  border: brown 20px solid;
  margin-bottom: 20px !important;
}
.kohli2{ 
   background-color:#fef9f2;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   padding-left: 10px;
   padding-bottom: 10px;

}
.kohli{
    width: 100%;
    height: auto;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-color: brown;
    margin-bottom: -4px;
}
.swiper-button-prev::after,.swiper-button-next::after{
   color: brown;

}
/* .swiper-button-prev.swiper-button-disabled{
    background-color: brown;
} */
.swiper-button-next::after{
    
    margin-right: 500px;
}
.swiper-button-prev::after{
    margin-left: 500px;
}
.swiper-pagination-bullet-active{
    color: black !important;
}
.mainbox{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 40px;
    border: brown solid;
    background-color: #fef9f2;
    border-radius: 15px;
    padding: 15px;
}
.news_img{
    border: brown solid;
    width: 600px;
    height: 400px;
    border-radius: 15px;
   margin-left: 230px;
   margin-right: 140px;
}
.score_box{
    background-color:antiquewhite;
    border: brown solid;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    margin: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    color: #a12642;
}
.inner_data{
    padding: 10px;
    display: flex;
}
.live{
    color: red;
    width: auto;
}
.inner2{
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    width: auto;
    display: flex;
    justify-content: space-between;

}
.inner3{
    padding-top: 2px;
    width: auto;
    display: flex;
    justify-content: space-around;
}
.score_cards{
    width: auto;
    display: flex;
    justify-content: space-between;
}
.score_box:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.update{
    height: 30%;
    width: 30%;
    margin: 3%;
    border: brown solid;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}
.update_img{
    width: 100%;
    height: 40%;
    /* border-top-left-radius: 18px;
    border-top-right-radius: 18px; */
    background-color: brown;
}
.update_news{ 
    background-color:#fef9f2;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    padding-left: 10px;
    padding-bottom: 10px;
}
.head_box{
    height: 500px;
    width: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/National_Cricket_Stadium%2C_Karachi_01.jpg/800px-National_Cricket_Stadium%2C_Karachi_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.heading_home{
    margin-top: 10px;
    height: 40px;
    background-color: #5e1414de;
    color: #fef9f2;
    text-align: center;
}
.footer{
    background-color: #5e1414de;
    color: #fef9f2;
    text-align: center;
}
.company_name{
    padding-top:10px;
    padding-bottom: 15px;
    font-family: cursive;
    text-align: center;
}
.lfooter{
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 10px;
    display: flex;
}


  
  /* Links inside the dropdown */

 
  .nav1{
    display: none;
  }
